{{ define "main" }}
<main>
	<article>
		{{ if (isset .Params "notitle") }}<br/>{{ else }}
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">发布于 {{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">抢先体验</span> {{ end }}</div>
		</div>{{ end }}
		{{ if .Draft }}
		<div class="draft-label">
			<strong>这是一个预发布的文章。</strong>
			文章的内容并没有经过仔细地考量和阅读。如果有任何修改意见，请<a href="/about">联系我</a>。
		</div>{{ end }}
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>简而言之:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		{{ if isset .Params "toc" }}
		<div class="toc">
		<strong>目录:</strong>
		{{ .TableOfContents }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
	</article>
</main>
{{ end }}
